{
  "plugins": ["@babel/plugin-transform-runtime"],
  "presets": [
    "@babel/typescript",
    ["@babel/env", {
      "modules": "umd",
      "targets": {
        "browsers": [ ">1%" ]
      }
    }]
  ]
}
